/agent/build/*
/agent/dist/*
/agent/__pycache__/*
/agent/agent_deploy.spec
/agent/agent
/agent/agent.exe
/agent/ezclap.exe
/agent/demo
/utils/boxes.json
/server/uploads/*
/server/postgres-data/*
/server/migrations/*
/server/yabnet.sqlite3
/master/cmd2_history.dat
